#password-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0A0A0A;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

#password-box {
    /* Make it an invisible container that organizes content vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    box-shadow: none;
    /* Size it relative to the banner, not the screen */
    width: 80%;
    height: auto;
    /* Height adjusts to content */
    padding: 10px;
    text-align: center;
    z-index: 3;
    /* Keeps it on top of the dots */
}

#password-box input {
    width: 90%;
    max-width: 250px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 3px solid #66BB6A;
}

#password-box button {
    padding: 10px 25px;
    /* A little more padding */
    background-color: #B23A48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#password-box button:hover {
    background-color: #C94F4F;
}

#oval-banner {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    aspect-ratio: .80 / 1;
    max-width: 450px;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.banner-clipper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 60% 60% 42% 42% / 80% 80% 25% 25%;
    border: 15px solid #8f1030;
    box-shadow: 0 10px 50px rgba(255, 255, 255, 0.74);
    overflow: hidden;
    z-index: 1;
}

/* Dots */
#oval-banner .dots {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
    background-position: center center;
    background-image: radial-gradient(#000000 6px, transparent 7px);
    background-size: 80px 80px;
}

/* Shared styles for both feet */
.foot {
    position: absolute;
    z-index: 101;
    width: 20%;
    height: 20%;
    background-color: #A0522D;
    border-radius: 45% 45% 45% 45% / 40% 40%;
}

.left-foot {
    bottom: -3rem;
    left: 30%;
    transform: translateX(-50%) rotate(-15deg);
}

/* Positioning for the RIGHT foot */
.right-foot {
    bottom: -3rem;
    right: 30%;
    transform: translateX(50%) rotate(15deg);
}

#password-input:hover {
    cursor: text;
}

.no-scroll {
    overflow: hidden;
}