/* 📱 Mobile adjustments */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    .gallery-grid {
        flex-direction: row;
        align-items: center;
    }

    .gallery-grid img {
        width: 90%;
        height: auto;
    }

    #letter p,
    .timeline {
        max-width: 90%;
    }

    .polaroid {
        width: clamp(40%, 70%, 80%);
        padding: 15px 10px;
    }

    /* Styles for the polaroid when it is expanded ON A SMALL SCREEN */
    .polaroid.expanded {
        height: auto;
        /* Let height be determined by content */
        width: 90vw;
        /* Make it 90% of the viewport width */
        max-height: 80vh;
        /* Ensure it doesn't get too tall */
    }

    /* Make the caption font size smaller on mobile when expanded */
    .polaroid.expanded .caption {
        font-size: 1rem;
        /* Adjust as needed */
        padding-top: 10px;
    }

    #audio-bar {
        align-items: center;
        justify-content: space-evenly;
        padding: 2px 2px;
    }

    .song-info {
        width: 10%;
        min-width: 64px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .controls {
        width: 60%;
    }

    .controls button {
        margin: -5px 0;
    }

    .extra-controls {
        width: 20%;
        flex-direction: row;
        justify-content: flex-end;
        min-width: unset;
        gap: 2px;
    }

    .song-text,
    .time-current,
    .time-duration,
    .download-btn {
        display: none;
    }

    #end {
        flex-direction: column;
        align-items: center;
    }

    .sticker {

        margin-left: 0;
        margin-top: 15px;
    }
}